<h2 data-item_category-id = "<%=@item_category.id%>" class= "item-category-name"><%=@item_category.name%></h2>

<p class="desc"><%=@item_category.description%></p>

<h3>Belongs to: <%=link_to @item_category.activity.name, activity_path(@item_category.activity)%></h3>

<h3>Specific Models:</h3>

<ul>
    <div id="item-model-list">
    </div>
</ul>

<br>
<br>

<div id="item-model-form"></div>

<button id= "new-item-model">Add a new Model</button>
<br>
<br>


