<h2>List of Characteristics</h2>

<div id="characteristic-list"></div>


<div id="characteristic-form"> </div>

<br>
<br>
<button id= "new-characteristic">Add a new Characteristic</button>

<ul>
    <%Characteristic.all.each do |characteristic|%>
        <li><%= link_to characteristic.name, characteristic_path(characteristic)%> - <%=characteristic.description%></li>
    <%end%>
</ul>