<div>
    <h2>Current Existing Activities</h2>
    <ul>
        <div id="activity-list">
        </div>
    </ul>

    <div id="activity-form"></div>

    <button id= "new-activity">Create new Activity</button>
</div>