<%= link_to 'Back to Activities', activities_path, class: "activity-loader"%>
<br>

<h2><%=@activity.name%></h2>



<h3>Item Categories</h3>



<ul>
    <div id="item-category-list">
    </div>
</ul>

<br><br>

<div id="item-category-form"></div>
<br>
<br>

<h4><%=link_to "Add new Item Category", new_activity_item_category_path(@activity)%></h4>

