<%= link_to 'Back to Activities', activities_path, class: "activity-loader"%>
<br>

<h2 data-activity-id = "<%=@activity.id%>" class="activity-name"><%=@activity.name%></h2>



<h3>Item Categories</h3>

<ul>
    <div id="item-category-list">
    </div>
</ul>

<br><br>

<div id="item-category-form"></div>
<br>
<br>

<button id= "new-item-category">Add a new Item Category</button>

